:root {
    --primary-color: #FF1168;
    --font-color: #fff;
<<<<<<< HEAD
    --bg-color: #182041;
=======
    --bg-color: #0d101c;
>>>>>>> 889eca45415b8352bf3f43cb8a2131251c7b2920
    --heading-color: linear-gradient(to right, #ee0979, #fc1c62, #ff364a, #ff512f, #ff6a00);
}

[data-theme="light"] {
    --primary-color: #FF1168;
    --font-color: #341931;
    --bg-color: #fff;
    --heading-color: linear-gradient(to right, #ee0979, #fc1c62, #ff364a, #ff512f, #ff6a00);
}