@import "base";

.footer__fixed {
    background: var(--bg-color);
    position: fixed;

    height: 70px;

    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .footer__list {
        display: flex;
        width: 80%;
        height: 100%;

        justify-content: space-between;
        align-items: center;
        margin: 0 auto;


        .item__img {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

        .wifi__icon {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to right, #ee0979, #fc1c62, #ff364a, #ff512f, #ff6a00);
        }

        .wifi__current {
            background: var(--font-color);
        }

        .wifi__icon svg {
            margin-top: 7px;

            path {
                height: 40px;
                fill: var(--bg-color);
            }
        }
    }
}

.footer__current {
    fill: var(--font-color);
}