@import "base";

.playing {
  // background: url("/assets/images/pexels-photo-1771305.png");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
  overflow-x: hidden;
  background: #101218;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0px, 500px) 1fr;
}

.Title__header {}

.main__playingIcon {
  overflow: hidden;

  .main__centerIcon {
    width: 100%;
    filter: contrast(1.2);
    height: 50vh;
  }
}

.sectionSlider {
  padding: 1% 8% 3% 8%;

  width: 100%;
  font-weight: 900;

  .sectionSlider__title {
    color: $light-mode-color;
    text-align: center;

    .title__heading {
      font-size: $headline-6;
      font-style: italic;
    }
  }

  .title__underTitle {
    font-size: 10pt;
    -webkit-animation: text-focus-in 0.3s linear both;
    animation: text-focus-in 0.3s linear both;
    font-weight: 200;
  }

  @keyframes appear {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }

    50% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .sectionSlider__slider {
    width: 100%;
    height: 3px;
    background: #ff1168;
    margin: 20px 0;
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #000;

    :focus {
      outline: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 23px;
      height: 24px;
      border: 0;
      background: url("/assets/images/slider_icon.svg");
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 23px;
      height: 25px;
      border: 0;
      background: url("/assets/images/slider_icon.svg");
      cursor: pointer;
    }

    .sectionSlider__icon {
      position: absolute;

      left: 50%;
      transform: translate(-50%, -35%);
    }
  }

  .sectionSlider__songLength {
    display: flex;
    justify-content: space-between;
    color: $light-mode-color;
    align-items: center;
    font-size: 14px;
    font-weight: 200;
  }

  .thump__svg {
    position: absolute;

    left: 124px;
    top: -9px;
  }

  .thumb__innerthumb {
    position: absolute;

    left: 130px;
    top: -4px;
  }

  .footerPlayOptions__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 15px;
  }

  .playButton {
    width: 50px;
    height: 50px;

    path {
      fill: $primary-color;
    }
  }
}

.songLength__min {
  width: 36px;
}

.main__playingIcon {
  position: relative;
  -webkit-animation: height 0.8s cubic-bezier(0.77, 0, 0.175, 1) both 0.4s;
  animation: height 0.8s cubic-bezier(0.77, 0, 0.175, 1) both 0.4s;
}

.footerPlayOptions {
  background: rgba(9, 8, 17, 0.96);
  padding: 0 0 5% 0;
}

#footer__playButton {
  -webkit-transition: all 0.5s ease;
  width: 60px;

  svg {
    width: 100%;
    height: 100%;
  }

  .circle {
    stroke: #ff1168;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0.3;
  }

  .triangle {
    -webkit-transition: all 0.6s ease-in-out;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: #ff1168;
    transform: translateY(0);
  }

  .triangle_clicked {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: #f8aa28;
    animation: nudge 300ms ease-in-out both 200ms alternate;
    stroke: #ff1168;
    transition: all 0.4s ease-in-out;
    stroke-dasharray: 290;

    @keyframes nudge {
      0% {
        fill: #ff1168;
        fill-opacity: 0%;
      }

      30% {
        fill-opacity: 30%;
      }

      50% {
        fill-opacity: 50%;
      }

      75% {
        fill-opacity: 70%;
      }

      100% {
        fill: #ff1168;
        fill-opacity: 100%;
      }
    }
  }

  .circle_clicked {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

// @media screen and (max-width: 480px) {
//   .circles__waves {
//     width: 40%;
//     height: 40%;
//     background: #FF1168;
//     position: absolute;
//     left: 50%;
//     top: 48%;
//     transform: translate(-50%, -50%) scale(1.5);
//     z-index: -1;
//     border-radius: 50%;
//     transition: 5s ease;
//     padding-top: 40%;
//     padding: 0 40%;
//     opacity: 0;
//   }

// }

@media screen and (max-height: 530px) {
  .sectionSlider {
    .sectionSlider__title {
      color: $light-mode-color;
      text-align: center;

      .title__heading {
        font-size: $headline-6;
      }
    }

    .sectionSlider__slider {
      width: 100%;
      height: 3px;

      background: $primary-color;

      margin: 15px 0;

      position: relative;
    }

    .sectionSlider__songLength {
      margin: 0 0 0px 0;
    }
  }

  .main__playingIcon {
    .main__centerIcon {
      height: 50vh;
    }
  }
}

@media screen and (max-height: 490px) {
  .sectionSlider {
    .sectionSlider__title {
      color: $light-mode-color;
      text-align: center;

      .title__heading {
        font-size: $headline-6;
      }
    }

    .sectionSlider__slider {
      width: 100%;
      height: 3px;

      background: $primary-color;

      margin: 15px 0;

      position: relative;
    }

    .sectionSlider__songLength {
      margin: 0 0 0px 0;
    }
  }

  .main__playingIcon {
    .main__centerIcon {
      height: 35vh;
    }
  }
}

.bounce-left {
  -webkit-animation: bounce-left 0.1s both;
  animation: bounce-left 0.1s both;
}

.bounce-right {
  -webkit-animation: bounce-right 0.1s both;
  animation: bounce-right 0.1s both;
}

@-webkit-keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateX(-13px);
    transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-right {
  0% {
    -webkit-transform: translateX(12px);
    transform: translateX(12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes blur {
  0% {
    filter: blur(3px) contrast(1.3) saturate(1.1);
  }

  100% {
    filter: blur(0px) contrast(1.3) saturate(1.1);
  }
}

@keyframes height {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes width {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}

.carousel {
  margin: 0;

  &:focus {
    outline: none;
  }
}

// main .carousel-cell-playing img {
//   height: 100%
// }

main .carousel-cell-playing {
  width: 100%;
  /* full width */
  height: 45vh;
  /* height of carousel */
  margin-right: 10px;
}





@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


.title__heading {
  -webkit-animation: text-focus-in 0.3s linear both;
  animation: text-focus-in 0.3s linear both;

}

.loaderIcon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  display: flex;
  margin-top: 1%;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

#wave {
  height: 60px;
  width: 50px;
  fill: #fff;
}

#Line_1 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

#Line_2 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#Line_3 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

#Line_4 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#Line_5 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

#Line_6 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

#Line_7 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

#Line_8 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#Line_9 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 1.35s;
  animation-delay: 1.35s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  50% {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  50% {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}


















@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    display: block;
  }
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}