<footer class="footer__fixed">
    <ul class="footer__list ul">
        <li class="footer__item"><img src="/assets/images/_ionicons_svg_ios-pulse.svg" alt="footer-navigation-icon">
        </li>
        <li class="footer__item"><img src="/assets/images/_ionicons_svg_ios-microphone.svg"
                alt="footer-navigation-icon"></li>
        <li class="footer__item wifi__icon"><img src="/assets/images/_ionicons_svg_md-wifi.svg"
                alt="footer-navigation-icon"></li>
        <li class="footer__item"><img src="/assets/images/_ionicons_svg_ios-contrast.svg" alt="footer-navigation-icon">
        </li>
        <li class="footer__item"><img src="/assets/images/Path 343.svg" alt="footer-navigation-icon"></li>
    </ul>
</footer>