<nav class="title__nav">
    <ul class="title__list ul">
        <li class="title__item nav__arrow"><a href="/"> <img data-lazy="/assets/images/_ionicons_svg_ios-arrow-back.svg"
                    alt="Left-arrow-icon"></a></li>
        <li class="title__item">
            <h2 class="featured__title h2">Featured</h2>
        </li>
        <li class="title__item nav__search"><img data-lazy="/assets/images/_ionicons_svg_ios-search.svg"
                alt="Search_icon">
        </li>
    </ul>
</nav>