        <!-- wrapper-ends -->
        </div>
<<<<<<< HEAD
        <!-- <script src="//unpkg.com/@jonaswn/umd-test/umd.js" defer></script>
        <script src="/assets/js/spotifyAPI.js" defer></script> -->
=======

>>>>>>> 65ea37a1821a6c776f3fa6686f2f71405bbab858
        <script src="/assets/js/themeMode.js" defer></script>
        <script src="/assets/js/quicklink.js" defer></script>
        <script src="/assets/js/lazyLoad.js" defer></script>

        </body>

        </html>