        <!-- wrapper-ends -->
        </div>

        <script src="/assets/js/themeMode.js" defer></script>
        <script src="/assets/js/quicklink.js" defer></script>
        <script src="/assets/js/lazyLoad.js" defer></script>
        <script src="/assets/js/slider.js" defer></script>
        </body>

        </html>