<div id="overlay" class="overlay">

</div>
<ul id="searchContainer" class="searchContainer">

</ul>
<template id="searchItems">
    <li class="searchItem">
        <a href="">
            <img src="" alt="" class="searchItem__cover">
        </a>
        <a href="" class="searchItem__nameLink">
            <h4 class="searchItem__name"></h4>
            <h5 class="searchItem__artist"></h5>
        </a>

        <p class="searchItem__type"></p>
    </li>
</template>