<% include ../partials/pre_header %>
<header class="Title__header nopadding__header">
    <% include ../partials/nav %>
    <h1 class="Title__heading_white">Old Town Road</h1>
    <div class="title__smallHeading">
        <h2 class="title__h2">12 Songs</h2>
    </div>

    <section class="title__hashtagSection">
        <p class="title__genreText">
            Genres Hashtags
        </p>
        <ul class="hashtagSection__list">
            <li class="hashtagSection__item">
                <p class="hashtagSection__button">
                    #Country
                </p>
            </li>
            <li class="hashtagSection__item">
                <p class="hashtagSection__button">
                    #Country
                </p>
            </li>
            <li class="hashtagSection__item">
                <p class="hashtagSection__button">
                    #Country
                </p>
            </li>
            <li class="hashtagSection__item">
                <p class="hashtagSection__button">
                    #Country
                </p>
            </li>
            <li class="hashtagSection__item">
                <p class="hashtagSection__button">
                    #Country
                </p>
            </li>
        </ul>
    </section>

</header>

<main class="main__songs main__albumList">
    <h3 class="main__title">
        All Songs
    </h3>
    <ul class="main__songsList">
        <li class="main__item">
            <a href="/playing"> <img data-lazy="/assets/images/Group 422.svg" alt="Album-cover" class="main__thumb"></a>
            <div class="main__imgText">
                <h4 class="main__itemHeader">Old Town Road</h4>
                <p class="main__itemText">Billy Ray Cyrus</p>
            </div>
            <p class="main__songCount">12 Songs</p>
        </li>
        <li class="main__item">
            <a href="/playing"> <img data-lazy="/assets/images/Group 422.svg" alt="Album-cover" class="main__thumb"></a>
            <div class="main__imgText">
                <h4 class="main__itemHeader">Victory Lap</h4>
                <p class="main__itemText">Nipsey Hussle</p>
            </div>
            <p class="main__songCount">8 Songs</p>
        </li>
        <li class="main__item">
            <a href="/playing"> <img data-lazy="/assets/images/Group 422.svg" alt="Album-cover" class="main__thumb"></a>
            <div class="main__imgText">
                <h4 class="main__itemHeader">Thank U, Next</h4>
                <p class="main__itemText">Ariana Grande</p>
            </div>
            <p class="main__songCount">13 Songs</p>
        </li>
        <li class="main__item">
            <a href="/playing"> <img data-lazy="/assets/images/Group 422.svg" alt="Album-cover" class="main__thumb"></a>
            <div class="main__imgText">
                <h4 class="main__itemHeader">Death Race For Love</h4>
                <p class="main__itemText">Juice WRLD</p>
            </div>
            <p class="main__songCount">11 Songs</p>
        </li>
    </ul>
</main>





<% include ../partials/footer %>
<% include ../partials/post_footer %>