<% include ../partials/pre_header %>
<header class="Title__header">
    <nav class="title__nav">
        <ul class="title__list ul">
            <li class="title__item nav__arrow"><a href="javascript:history.back()"> <svg
                        xmlns="http://www.w3.org/2000/svg" width="8.576" height="15" viewBox="0 0 8.576 15">
                        <path id="_ionicons_svg_ios-arrow-back" class="nav-icons"
                            d="M162.593,95.585l5.676-5.671a1.072,1.072,0,0,0-1.518-1.514l-6.43,6.426a1.07,1.07,0,0,0-.031,1.478l6.457,6.47a1.072,1.072,0,0,0,1.518-1.514Z"
                            transform="translate(-160.008 -88.087)" fill="#fff" />
                    </svg>
                </a></li>
            <li class="title__item">
                <h2 class="featured__title h2">Music</h2>
            </li>
            <li class="title__item nav__search"><svg xmlns="http://www.w3.org/2000/svg" width="14.996" height="15"
                    viewBox="0 0 14.996 15">
                    <path id="_ionicons_svg_ios-search " class="nav-icons"
                        d="M78.82,77.814,74.65,73.6a5.944,5.944,0,1,0-.9.914L77.891,78.7a.642.642,0,0,0,.906.023A.646.646,0,0,0,78.82,77.814Zm-8.841-3.245A4.693,4.693,0,1,1,73.3,73.194,4.664,4.664,0,0,1,69.979,74.569Z"
                        transform="translate(-64 -63.9)" fill="#fff" />
                </svg>

            </li>
        </ul>
    </nav>
    <h1 class="Title__heading">All Albums</h1>
    <div class="title__smallHeading">
        <h2 class="title__h2">Featured Albums</h2>
        <a href="" class="title__viewAll">View All</a>
    </div>
</header>


<section class="gallery__section">
    <ul class="gallery__list">
    </ul>
</section>

<main class="main__albumList">
    <div class="title__smallHeading">
        <h2 class="title__h2">New Realeases</h2>
        <a href="" class="title__viewAll">View All</a>
    </div>

    <ul class="main__list">

    </ul>

</main>

<template id="new__album">
    <li class="main__item">
        <a href=""> <img data-lazy="" alt="" class="main__thumb"></a>
        <div class="main__imgText">
            <a href="" class="main__itemHeader"></a>
            <p class="main__itemText"></p>
        </div>
        <p class="main__songCount"></p>
    </li>
</template>



<template id="featured__album">
    <li class="gallery__item">
        <a href=""> <img data-lazy="/assets/images/pexels-photo-1988681@2x.jpg" class="gallery__img"
                alt="album-cover-photo"></a>
    </li>
</template>

<% include ../partials/footer %>
<script src="/assets/js/albumsAPI.js"></script>
<% include ../partials/post_footer %>