<% include ../partials/pre_header %>
<header class="Title__header nopadding__header">
    <nav class="title__nav">
        <ul class="title__list ul ">
            <li class="title__item nav__arrow"><a href="javascript:history.back()"> <svg
                        xmlns="http://www.w3.org/2000/svg" width="8.576" height="15" viewBox="0 0 8.576 15">
                        <path id="_ionicons_svg_ios-arrow-back" class="nav-icons details__nav"
                            d="M162.593,95.585l5.676-5.671a1.072,1.072,0,0,0-1.518-1.514l-6.43,6.426a1.07,1.07,0,0,0-.031,1.478l6.457,6.47a1.072,1.072,0,0,0,1.518-1.514Z"
                            transform="translate(-160.008 -88.087)" fill="#fff" />
                    </svg>
                </a></li>
            <!-- <li class="title__item">
                <h2 class="featured__title h2 albumdetailsTitle__white playlistTitle__white">Album</h2>
            </li> -->
            <li class="title__item nav__search">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="14.996" height="15"
                    viewBox="0 0 14.996 15">
                    <path id="_ionicons_svg_ios-search " class="nav-icons details__nav"
                        d="M78.82,77.814,74.65,73.6a5.944,5.944,0,1,0-.9.914L77.891,78.7a.642.642,0,0,0,.906.023A.646.646,0,0,0,78.82,77.814Zm-8.841-3.245A4.693,4.693,0,1,1,73.3,73.194,4.664,4.664,0,0,1,69.979,74.569Z"
                        transform="translate(-64 -63.9)" fill="#fff" />
                </svg> -->
                <input type="text">
                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 125" x="0px" y="0px"
                    id="searchIcon">
                    <title>50</title>
                    <path class="nav-icons"
                        d="M93.82813,88.17139a3.99992,3.99992,0,1,1-5.65625,5.65722L65.91443,71.57117A40.12252,40.12252,0,0,0,71.571,65.91431ZM40.77539,76.5498A35.7749,35.7749,0,1,1,76.5498,40.7749,35.81556,35.81556,0,0,1,40.77539,76.5498ZM68.5498,40.7749A27.7749,27.7749,0,1,0,40.77539,68.5498,27.8065,27.8065,0,0,0,68.5498,40.7749Z" />
                    <text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold"
                        font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text><text x="0"
                        y="120" fill="#000000" font-size="5px" font-weight="bold"
                        font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text>
                </svg>
            </li>
        </ul>
    </nav>
    <h1 class="Title__heading_white">Old Town Road</h1>
    <div class="title__smallHeading">
        <h2 class="title__h2 albumDetailsh2__white">12 Songs</h2>
    </div>

    <section class="title__hashtagSection">
        <p class="title__genreText">
            Genres Hashtags
        </p>
        <ul class="hashtagSection__list">

        </ul>
    </section>

</header>

<main class="main__songs main__albumList">
    <h3 class="main__title">
        All Songs
    </h3>
    <ul class="main__songsList">

    </ul>

</main>



<% include ../partials/footer %>
<template id="new__album">
    <li class="main__item">
        <a href="/playing"> <img data-lazy="/assets/images/Group 422.svg" alt="Album-cover" class="main__thumb"></a>
        <div class="main__imgText">
            <a href="" class="main__itemHeader"></a>
        </div>
        <p class="main__songCount"></p>
    </li>
</template>
<template id="hashtags">
    <li class="hashtagSection__item">
        <p class="hashtagSection__button">
            #Country
        </p>
    </li>
</template>
<script src="/assets/js/albumDetailsAPI.js" defer type="module"></script>
<% include ../partials/post_footer %>