<% include ../partials/pre_header %>
<header class="Title__header">
    <nav class="title__nav">
        <ul class="title__list ul">
            <li class="title__item nav__arrow"><a href="/"> <img
                        data-lazy="/assets/images/_ionicons_svg_ios-arrow-back.svg" alt="Left-arrow-icon"></a></li>
            <li class="title__item">
                <h2 class="featured__title h2">Music</h2>
            </li>
            <li class="title__item nav__search"><img data-lazy="/assets/images/_ionicons_svg_ios-search.svg"
                    alt="Search_icon">
            </li>
        </ul>
    </nav>
    <h1 class="Title__heading">All Albums</h1>
    <div class="title__smallHeading">
        <h2 class="title__h2">Featured Albums</h2>
        <a href="" class="title__viewAll">View All</a>
    </div>
</header>


<section class="gallery__section">
    <ul class="gallery__list">
        <li class="gallery__item">
            <img data-lazy="/assets/images/pexels-photo-1988681@2x.jpg" class="gallery__img" alt="album-cover-photo">
        </li>
        <li class="gallery__item">
            <img data-lazy="/assets/images/pexels-photo-1435457.jpg" class="gallery__img" alt="album-cover-photo">
        </li>
        <li class="gallery__item">
            <img data-lazy="/assets/images/pexels-photo-1816943.jpg" class="gallery__img" alt="album-cover-photo">
        </li>
    </ul>
</section>

<main class="main__albumList">
    <div class="title__smallHeading">
        <h2 class="title__h2">New Realeases</h2>
        <a href="" class="title__viewAll">View All</a>
    </div>

    <ul class="main__list">
        <li class="main__item">
            <a href="/albumDetails"><img data-lazy="/assets/images/pexels-photo-1816943.png" alt="Album-cover"
                    class="main__thumb noObject-fit"></a>
            <div class="main__imgText">
                <h4 class="main__itemHeader">Old Town Road</h4>
                <p class="main__itemText">Billy Ray Cyrus</p>
            </div>
            <p class="main__songCount">12 Songs</p>
        </li>
        <li class="main__item">
            <a href="/albumDetails"> <img data-lazy="/assets/images/pexels-photo-2064522@2x.png" alt="Album-cover"
                    class="main__thumb"></a>
            <div class="main__imgText">
                <h4 class="main__itemHeader">Victory Lap</h4>
                <p class="main__itemText">Nipsey Hussle</p>
            </div>
            <p class="main__songCount">8 Songs</p>
        </li>
        <li class="main__item">
            <a href="/albumDetails"> <img data-lazy="/assets/images/pexels-photo-1844521.png" alt="Album-cover"
                    class="main__thumb"></a>
            <div class="main__imgText">
                <h4 class="main__itemHeader">Thank U, Next</h4>
                <p class="main__itemText">Ariana Grande</p>
            </div>
            <p class="main__songCount">13 Songs</p>
        </li>
        <li class="main__item">
            <a href="/albumDetails"> <img data-lazy="/assets/images/pexels-photo-2062347.png" alt="Album-cover"
                    class="main__thumb"></a>
            <div class="main__imgText">
                <h4 class="main__itemHeader">Death Race For Love</h4>
                <p class="main__itemText">Juice WRLD</p>
            </div>
            <p class="main__songCount">11 Songs</p>
        </li>
    </ul>

</main>

<template id="new__album">
    <li class="main__item">
        <img data-lazy="" alt="" class="main__thumb">
        <div class="main__imgText">
            <a href="" class="main__itemHeader"></a>
            <p class="main__itemText"></p>
        </div>
        <p class="main__songCount"></p>
    </li>
</template>

<template class="featured__album">
    <li class="gallery__item">
        <img data-lazy="/assets/images/pexels-photo-1988681@2x.jpg" class="gallery__img" alt="album-cover-photo">
    </li>
</template>

<% include ../partials/footer %>
<% include ../partials/post_footer %>