<% include ../partials/pre_header %>
<header class="Title__header">
    <nav class="title__nav">
        <ul class="title__list ul">
            <li class="title__item nav__arrow">
                <a href="javascript:history.back()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.576" height="15" viewBox="0 0 8.576 15">
                        <path id="_ionicons_svg_ios-arrow-back" class="nav-icons"
                            d="M162.593,95.585l5.676-5.671a1.072,1.072,0,0,0-1.518-1.514l-6.43,6.426a1.07,1.07,0,0,0-.031,1.478l6.457,6.47a1.072,1.072,0,0,0,1.518-1.514Z"
                            transform="translate(-160.008 -88.087)" fill="#fff" />
                    </svg>
                </a>
            </li>
            <li class="title__item">
                <h2 class="featured__title h2">Categories</h2>
            </li>
            <li class="title__item nav__search">
                <svg xmlns="http://www.w3.org/2000/svg" width="14.996" height="15" viewBox="0 0 14.996 15">
                    <path id="_ionicons_svg_ios-search " class="nav-icons"
                        d="M78.82,77.814,74.65,73.6a5.944,5.944,0,1,0-.9.914L77.891,78.7a.642.642,0,0,0,.906.023A.646.646,0,0,0,78.82,77.814Zm-8.841-3.245A4.693,4.693,0,1,1,73.3,73.194,4.664,4.664,0,0,1,69.979,74.569Z"
                        transform="translate(-64 -63.9)" fill="#fff" />
                </svg>
            </li>
        </ul>
    </nav>
    <h1 class="Title__heading title__categories">Categories</h1>
</header>

<main class="main__categories">

</main>

<% include ../partials/footer %>

<template id="details__playlists">
    <li class="summary__item">
        <a href="">
            <p>Lorem ipsum dolor sit.</p>
        </a>
        <a href="" id="icon__link">
            <svg class="arrow__svg" xmlns="http://www.w3.org/2000/svg" width="6.861" height="12" viewBox="0 0 6.861 12">
                <path id="_ionicons_svg_ios-arrow-forward"
                    d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
                    transform="translate(-159.95 -88.125)" fill="#fff" />
            </svg>
        </a>
    </li>
</template>

<template id="details__template">
    <details class="main__details">
        <summary class="details__summary_pink"> Genre </summary>
        <ul class="summary__list">

        </ul>
    </details>
</template>

<script src="/assets/js/details.js" defer></script>
<script src="/assets/js/categoriesAPI.js" defer type="module"></script>
<% include ../partials/post_footer %>