<% include ../partials/pre_header %>
<header class="Title__header">
    <nav class="title__nav">
        <ul class="title__list ul">
            <li class="title__item nav__arrow"><a href="/"> <img
                        data-lazy="/assets/images/_ionicons_svg_ios-arrow-back.svg" alt="Left-arrow-icon"></a></li>
            <li class="title__item">
                <h2 class="featured__title h2">Featured</h2>
            </li>
            <li class="title__item nav__search"><img data-lazy="/assets/images/_ionicons_svg_ios-search.svg"
                    alt="Search_icon">
            </li>
        </ul>
    </nav>
    <h1 class="Title__heading">Featured</h1>

</header>

<main class="index__Main">
    <div class="main__img">
        <img data-lazy="/assets/images/pexels-photo-1816943.png" alt="Image of a womans back">
        <div class="main__imgTexts">
            <h3 class="main__img_title">
                Lorem ipsum dolor sit.
            </h3>
            <p class="main__img_p">SoundTrack</p>
        </div>
    </div>
    <div class="main__img">
        <img data-lazy="/assets/images/pexels-photo-1435457.png" alt="Image of a womans back">
        <div class="main__imgTexts">
            <h3 class="main__img_title">
                Lorem ipsum dolor sit.
            </h3>
            <p class="main__img_p">SoundTrack</p>
        </div>
    </div>
</main>


<% include ../partials/footer %>
<% include ../partials/post_footer %>