<% include ../partials/pre_header %>
<header class="Title__header">
    <% include ../partials/nav %>
    <h1 class="Title__heading_white">Playlists</h1>
    <img src="/assets/images/sound-wave.svg" alt="Vector-Graphic-Background" class="title__vectorGraphic">


    <ul class="playlist__galleryList">
        <li class="playlist__galleryitem_left"><img src="/assets/images/pexels-photo-442540.png"
                alt="Header-Playlist-Gallary">
        </li>
        <li class="playlist__galleryitem"><img src="/assets/images/photo-1545224144-b38cd309ef69.png"
                alt="Header-Playlist-Gallary"></li>
        <li class="playlist__galleryitem_right"><img src="/assets/images/pexels-photo-949274.png"
                alt="Header-Playlist-Gallary">
        </li>
    </ul>

</header>

<main class="main__songs main__albumList main__playList">
    <h3 class="main__title_playlist">
        Top 50 <br>
        Rock Ballads
    </h3>
    <ul class="main__songsList">
        <li class="main__item">
            <img src="/assets/images/Group 422.svg" alt="Album-cover" class="main__thumb">
            <div class="main__imgText">
                <h4 class="main__itemHeader">Old Town Road</h4>
                <p class="main__itemText">Billy Ray Cyrus</p>
            </div>
            <p class="main__songCount">3:54</p>
        </li>
        <li class="main__item">
            <img src="/assets/images/Group 422.svg" alt="Album-cover" class="main__thumb">
            <div class="main__imgText">
                <h4 class="main__itemHeader">Victory Lap</h4>
                <p class="main__itemText">Nipsey Hussle</p>
            </div>
            <p class="main__songCount">2:48</p>
        </li>
        <li class="main__item">
            <img src="/assets/images/Group 422.svg" alt="Album-cover" class="main__thumb">
            <div class="main__imgText">
                <h4 class="main__itemHeader">Thank U, Next</h4>
                <p class="main__itemText">Ariana Grande</p>
            </div>
            <p class="main__songCount">4:15</p>
        </li>
        <li class="main__item">
            <img src="/assets/images/Group 422.svg" alt="Album-cover" class="main__thumb">
            <div class="main__imgText">
                <h4 class="main__itemHeader">Death Race For Love</h4>
                <p class="main__itemText">Juice WRLD</p>
            </div>
            <p class="main__songCount">2:30</p>
        </li>

    </ul>
</main>




<% include ../partials/footer %>
<% include ../partials/post_footer %>