<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css">
    <link rel="shortcut icon" href="/assets/images/music-logo-solid.png">
    <title>iPlayMusic</title>
</head>

<body class="body playing">
    <!-- <div class="wrapper"> -->

    <!-- <header class="Title__header">
        <nav class="title__nav">
            <ul class="title__list ul">
                <li class="title__item nav__arrow"><a href="javascript:history.back()"> <svg
                            xmlns="http://www.w3.org/2000/svg" width="8.576" height="15" viewBox="0 0 8.576 15">
                            <path id="_ionicons_svg_ios-arrow-back" class="nav-icons"
                                d="M162.593,95.585l5.676-5.671a1.072,1.072,0,0,0-1.518-1.514l-6.43,6.426a1.07,1.07,0,0,0-.031,1.478l6.457,6.47a1.072,1.072,0,0,0,1.518-1.514Z"
                                transform="translate(-160.008 -88.087)" fill="#fff" />
                        </svg>
                    </a></li>
                <li class="title__item">
                    <h2 class="featured__title h2">Playing</h2>
                </li>
                <li class="title__item nav__search"><svg xmlns="http://www.w3.org/2000/svg" width="14.996" height="15"
                        viewBox="0 0 14.996 15">
                        <path id="_ionicons_svg_ios-search " class="nav-icons"
                            d="M78.82,77.814,74.65,73.6a5.944,5.944,0,1,0-.9.914L77.891,78.7a.642.642,0,0,0,.906.023A.646.646,0,0,0,78.82,77.814Zm-8.841-3.245A4.693,4.693,0,1,1,73.3,73.194,4.664,4.664,0,0,1,69.979,74.569Z"
                            transform="translate(-64 -63.9)" fill="#fff" />
                    </svg>

                </li>
            </ul>
        </nav>

    </header> -->

    <main class="main__playingIcon carousel">




    </main>
    <div class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>
    <audio id="myAudio">
        <source src="/assets/images/Seinfeld Theme.mp3" type="audio/mpeg">
    </audio>
    <section class="sectionSlider">
        <div class="sectionSlider__title">
            <h1 class="title__heading">
                Don´t Call Me Up
            </h1>

        </div>

        <div class="">
            <input type="range" min="0" max="100" value="0" class="sectionSlider__slider" id="myRange">
        </div>

        <div class="sectionSlider__songLength">
            <p class="songLength__min">
                0:00
            </p>
            <p class="title__underTitle">
                Mabel
            </p>
            <p class="songLength__max">
                3:14
            </p>
        </div>
        <ul class="footerPlayOptions__list">
            <li class="footerPlayOptions__item backwards"> <img
                    data-lazy="/assets/images/_ionicons_svg_ios-skip-backward.svg" alt="Play-Pause-Icons"
                    class="footerPlayOptions__img">
            </li>
            <li class="footerPlayOptions__item backwards"><img data-lazy="/assets/images/_ionicons_svg_ios-rewind.svg"
                    alt="Play-Pause-Icons" class="footerPlayOptions__img"></li>
            <li class="footerPlayOptions__item" id="footer__playButton">


                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="213.7px"
                    height="213.7px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
                    xml:space="preserve">

                    <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10" points="
                            73.5,62.5 148.5,105.8 73.5,149.1 " />

                    <circle class='circle' id="XMLID_17_" fill="none" stroke-width="7" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                </svg>

            </li>
            <li class="footerPlayOptions__item forwards"><img
                    data-lazy="/assets/images/_ionicons_svg_ios-fastforward.svg" alt="Play-Pause-Icons"
                    class="footerPlayOptions__img"></li>
            <li class="footerPlayOptions__item forwards"><img
                    data-lazy="/assets/images/_ionicons_svg_ios-skip-forward.svg" alt="Play-Pause-Icons"
                    class="footerPlayOptions__img" </li> </ul> </section> <template id="background">
                <img src="" alt="">
                </template>
                <template id="trackCover">
                    <img src="" alt="">
                </template>
                <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
                <script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>
                <script src="/assets/js/slider.js" defer>
                </script>
                <script src="/assets/js/playing.js" defer></script>
                <script src="/assets/js/playingAPI.js" defer type="module"></script>
                <% include ../partials/post_footer %>