<% include ../partials/pre_header %>
<header class="Title__header">
    <nav class="title__nav">
        <ul class="title__list ul">
            <li class="title__item nav__arrow"><a href="javascript:history.back()"> <svg
                        xmlns="http://www.w3.org/2000/svg" width="8.576" height="15" viewBox="0 0 8.576 15">
                        <path id="_ionicons_svg_ios-arrow-back"
                            d="M162.593,95.585l5.676-5.671a1.072,1.072,0,0,0-1.518-1.514l-6.43,6.426a1.07,1.07,0,0,0-.031,1.478l6.457,6.47a1.072,1.072,0,0,0,1.518-1.514Z"
                            transform="translate(-160.008 -88.087)" fill="#fff" />
                    </svg>
                </a></li>
            <!-- <li class="title__item">
                <h2 class="featured__title h2 playlistTitle__white">Playlists</h2>
            </li> -->
            <li class="title__item nav__search">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="14.996" height="15"
                    viewBox="0 0 14.996 15">
                    <path id="_ionicons_svg_ios-search "
                        d="M78.82,77.814,74.65,73.6a5.944,5.944,0,1,0-.9.914L77.891,78.7a.642.642,0,0,0,.906.023A.646.646,0,0,0,78.82,77.814Zm-8.841-3.245A4.693,4.693,0,1,1,73.3,73.194,4.664,4.664,0,0,1,69.979,74.569Z"
                        transform="translate(-64 -63.9)" fill="#fff" />
                </svg> -->
                <input type="text">
                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 125" x="0px" y="0px"
                    id="searchIcon">
                    <title>50</title>
                    <path class="nav-icons"
                        d="M93.82813,88.17139a3.99992,3.99992,0,1,1-5.65625,5.65722L65.91443,71.57117A40.12252,40.12252,0,0,0,71.571,65.91431ZM40.77539,76.5498A35.7749,35.7749,0,1,1,76.5498,40.7749,35.81556,35.81556,0,0,1,40.77539,76.5498ZM68.5498,40.7749A27.7749,27.7749,0,1,0,40.77539,68.5498,27.8065,27.8065,0,0,0,68.5498,40.7749Z" />
                    <text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold"
                        font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text><text x="0"
                        y="120" fill="#000000" font-size="5px" font-weight="bold"
                        font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text>
                </svg>

            </li>
        </ul>
    </nav>
    <h1 class="Title__heading_white">Playlists</h1>
    <!-- <img data-lazy="/assets/images/sound-wave.svg" alt="Vector-Graphic-Background" class="title__vectorGraphic"> -->
    <svg class="title__vectorGraphic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        width="450" height="272.277" viewBox="0 0 450 272.277">
        <defs>
            <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#ee0979" />
                <stop offset="1" stop-color="#ff6a00" />
            </linearGradient>
        </defs>
        <path id="sound-wave"
            d="M450,108.338a141.888,141.888,0,0,0-72.6,3.388A134.3,134.3,0,0,0,346.8,125.6c-8.76,5.612-16.2,13.341-26.64,16.624-9.84,3.071-19.56.953-28.68-2.859-16.92-7.094-33.48-15.776-52.32-8.788-17.04,6.247-28.08,21.282-39.84,33.141-10.32,10.376-23.16,20.012-39.48,20.753-30.6,1.482-47.4-25.094-66.6-41.612-21.6-18.529-51.6-33.882-82.56-27C6.84,116.7,3,117.974,0,120.3V-87.75H450V108.338Z"
            transform="translate(0 87.75)" fill="url(#linear-gradient)" />

        <animate repeatCount="indefinite" fill="url(#linear-gradient)" attributeName="d" dur="15s" values="
                M0 77 
                C 473,283
                  822,-40
                  1920,116 
    
                V 359 
                H 0 
                V 67 
                Z; 
    
                M0 77 
                C 473,-40
                  1222,283
                  1920,136 
    
                V 359 
                H 0 
                V 67 
                Z; 
    
                M0 77 
                C 973,260
                  1722,-53
                  1920,120 
    
                V 359 
                H 0 
                V 67 
                Z; 
    
                M0 77 
                C 473,283
                  822,-40
                  1920,116 
    
                V 359 
                H 0 
                V 67 
                Z
                ">
        </animate>

    </svg>

    <ul class="carousel">

    </ul>

</header>



<main class="main__songs main__albumList main__playList">
    <h3 class="main__title_playlist">
        Top 50 <br>
        Rock Ballads
    </h3>
    <ul class="main__songsList"></ul>
    <a href="/playing" class="main__listenAll"> <button class="listenAll__button"> Listen All</button></a>
</main>



<template id="sliderTemplate">
    <li class="carousel-cell">
        <img alt="">
    </li>
</template>

<template id="mainTemplate">
    <li class="main__item">
        <a href="/playing"><img data-lazy="/assets/images/Group 422.svg" alt="Album-cover" class="main__thumb"></a>
        <div class="main__imgText">
            <a href="" class="item__titleLink">
                <h4 class="main__itemHeader">Old Town Road</h4>
            </a>
            <p class="main__itemText">Billy Ray Cyrus</p>
        </div>
        <p class="main__songCount">3:54</p>
    </li>
</template>
<% include ../partials/searchOverlay %>
<% include ../partials/footer %>


<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/assets/js/playlistAPI.js" defer type="module"></script>
<% include ../partials/post_footer %>